<style>
    * {
         outline: 1px dotted rgb(39, 15, 173);
    }
    .empty {
        width: 50px;
        height: 50px;
        background-color: rgb(61, 68, 170);
        display: inline-block;
        outline: 2px solid rgb(0, 0, 0)

    }

    .squareShape {
      width: 50px;
      height: 50px;
      background-color: rgb(197, 12, 12);
      display: inline-block;
      outline: 2px solid black
  }

</style>

